/* Mobile First → el menú .nav oculto, .hamburguesa visible */
/* Mobile First (está oculto el menú y se ve el ícono ☰) */
.nav ul {
    display: none;
  }
  
  .nav-toggle {
    display: block;
  }
  
  /* En desktop: se oculta el ícono y se muestra el menú */
  @media (min-width: 768px) {
    .nav ul {
      display: flex;
      gap: 15px;
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: center;
    }
  
    .nav-toggle {
      display: none;
    }
  }
  

@media (min-width: 768px) {
    /* Header */
    .header {
      flex-direction: row;
      position: relative;
    }
    .header .hamburguesa {
      display: none;
    }
  
    /* Menú horizontal */
    .nav {
      display: flex;
      justify-content: center;
    }
  
    /* Layout principal */
    .contenedor {
      flex-direction: row;
    }
    .noticia-principal {
      flex: 2;
    }
    .noticias-secundarias {
      flex: 1;
    }
    .publicidad {
      flex: 1;
    }
  }
  